<!-- Footer-->

<div class="footer">
    <img src="/images/DMBlogo.png" alt="">
    <div>
        <p style="margin-bottom:0;">Justina Padulla, Pedro Bernstein y Franco Darget</p>
    </div>
    <button id="logoutbutton">Log Out</button>
</div>

<!-- Footer-->

<script src="/javascripts/uikit.min.js"></script>
<script src="/javascripts/uikit-icons.min.js"></script>
<script src="/javascripts/uikit-icons.js"></script>
<script src="/javascripts/uikit.js"></script>
  