<!-- Header-->

<header>
    <!-- Aca esta todo el header con el logo y los menus para navegar por la pagina (FLEXBOX) -->
    <div class="navMenu">
        <!-- Dentro del div esta el logo -->
        <img src="/images/ultimoplay.png" alt=""> <!-- La imagen del logo -->
        <a href="/" id='home'>Home</a> <!-- Link a la pagina Home -->
        <a href="/generos">Genre</a> <!-- Link a la pagina Genero -->
        <a href="/generos#movies">Movies</a> <!-- Link a la pagina Peliculas -->
        <a href="/buscador">Search</a> <!-- Link a la pagina Busqueda -->
        <a class="favorite" href="/favoritos">Favorite</a>
        <!-- Link a la pagina Favoritos -->
    </div>

    <div class="login">
        <!-- Dentro del div esta el link para logearse y el buscador -->
        <span id="user2">
            <i uk-icon="icon: user"></i>
            <p style="display:none; font-size: 20px;"></p>
        </span>

        <div id="searchbar" class="uk-navbar-right">

            <a class="uk-navbar-toggle" href="#modal-full" uk-search-icon uk-toggle></a>

        </div>

        <div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
            <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
                <button class="uk-modal-close-full" type="button" uk-close></button>
                <form class="uk-search uk-search-large" action="/buscador" method="get">
                    <input class="uk-search-input uk-text-center" type="search" placeholder="Search..." autofocus
                        name="busqueda">
                </form>
            </div>
        </div>

        <span id="hamburguer">
            <i class="fas fa-bars"></i>
        </span>
    </div>
</header>

<div class="responsivo">
    <div class="cerrar">
        +
    </div>
    <a href="/">Home</a> <!-- Link a la pagina Home -->
    <a href="/generos">Genre</a> <!-- Link a la pagina Genero -->
    <a href="/generos/#movies">Movies</a> <!-- Link a la pagina Peliculas -->
    <a href="/buscador">Search</a> <!-- Link a la pagina Busqueda -->
    <a class="favorite1" style="display: none;" href="#">Favourite</a> <!-- Link a la pagina Favoritos -->

</div>

<div class="bg-modal">
    <div class="modal-content">
        <div class="close">
            +
        </div>
        <span style="font-size: 5rem;">
            <i class="far fa-user"></i>
        </span>
        <p>Register</p>

        <form id="formlogin" method="POST" action="/users/register">

            <div class="uk-margin">
                <div class="uk-inline uk-width-2-3">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" type="text" id="name" name="username" placeholder="username...">
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline uk-width-2-3">
                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                    <input class="uk-input" type="text" id="email" name="email" placeholder="email...">
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline uk-width-2-3">
                    <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                    <input class="uk-input" type="password" id="pass" name="password" placeholder="password...">
                </div>
            </div>


            <button type="submit" name="button">GO!</button>

        </form>
    </div>
</div>

<div class="paginalogout">
    <div class="boxlogout">
        <img src="/images/sadimage.png" alt="">
        <p>Are you sure you want to log out?</p>
        <div class="botoneslogout">
            <button id="yesbutton" type="input" name="button">Yes</button>
            <button id="nobutton" type="input" name="button">No</button>
        </div>
    </div>
</div>

<!-- Header-->