<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/buscador.css">
    <link rel="stylesheet" href="/stylesheets/uikit-rtl.css">
    <link rel="stylesheet" href="/stylesheets/uikit-rtl.min.css">
    <link rel="stylesheet" href="/stylesheets/uikit.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">
  </head>
  <body>

    <!-- Header-->

<%- include('partials/header') %>

<div class="titulo">
  <h1>Search</h1>
  <p> The results of your search are displayed below </p>
</div>

<div class="contenedorPadre">
  <div class="buscador">

    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <div class="uk-navbar-item">
                <form method="GET" action="/buscador" class="uk-search uk-search-navbar">
                    <span uk-search-icon></span>
                    <input class="uk-search-input busqueda" type="search" placeholder="" name="busqueda">
                    <!-- <button type="submit" name="button">Buscar</button> -->

                    <button class="searchbutton" type="submit" name="button">Search</button>
                </form>
            </div>
        </div>
    </nav>

  </div>
</div>

<div class="peliculas">
  <div class="posterPeli">
    <ul> </ul>
  </div>
  <div class="infoDePeli">
    <ul> </ul>
  </div>
</div>

<!-- Footer-->

<%- include('partials/footer') %>


<script src="/javascripts/login.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/buscador.js"></script>
<script src="/javascripts/uikit.min.js"></script>
<script src="/javascripts/uikit-icons.min.js"></script>
<script src="/javascripts/uikit-icons.js"></script>
<script src="/javascripts/uikit.js"></script>
  </body>
</html>
