<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Playit</title>
    <link rel="stylesheet" href="/stylesheets/uikit.min.css" />
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
  </head>
  <body>
    <div class="topnav"> <!-- Aca aparece el nombre del usuario SOLO SI SE REGISTRA -->

    </div>
    <!-- HEADER -->
    
<%- include('partials/header') %>



        <div class="hero"> <!-- Aca viene la imagen de home con titulo y boton -->
          <h1>The Largest Streaming Library in Latin America</h1> <!-- El titulo del home -->
          <button id="user" type="button" name="button">SUBSCRIBE</button> <!-- El boton para suscribirse -->
          <a href="/terms" target="_blank">Accept Terms of Use...</a> <!-- Los terminos y condiciones -->
          <p>Scroll for more</p>

          <a class="uk-button uk-button-primary" style="background-color: rgba(0,0,0,0); margin-top: 10vh;" href="#most-popular" offset='100' uk-scroll><img src="/images/downarrow.png" alt=""></a>
        </div>

        <div class="peliculas">

          <!--<div id="postal" class="estreno">

             <div class="portada">

            </div>

            <div class="estrenoinfo">
              <img src="/images/strangertitle.jpg" alt="">
              <p>Just before the clock struck midnight on the last night of 2018, PlayIt sent fans into the new year with the exciting news that Stranger Things 3 will (finally!) return on July 4, 2019. </p>
              <p>Coming Soon!</p>
              <div class="uk-grid-small uk-child-width-auto" uk-grid uk-countdown="date: 2019-07-04T00:00:00+00:00">
                <div>
                  <div class="uk-countdown-number uk-countdown-days"></div>
                  <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
                </div>
                <div class="uk-countdown-separator">:</div>
                <div>
                  <div class="uk-countdown-number uk-countdown-hours"></div>
                  <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
                </div>
                <div class="uk-countdown-separator">:</div>
                <div>
                  <div class="uk-countdown-number uk-countdown-minutes"></div>
                  <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
                </div>
                <div class="uk-countdown-separator">:</div>
                <div>
                  <div class="uk-countdown-number uk-countdown-seconds"></div>
                  <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
                  </div>
              </div>
            </div> 
          </div> -->

          <h1 id="most-popular"  style="margin-top: 4rem;">Most Popular</h1>

          <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

              <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid-small contenedor-populares">
                <!-- Asi es el formato
                 <li>
                     <div class="uk-panel">
                         <img src="./images/lampara.jpg" alt="">
                         <div class="uk-position-center uk-panel"><h1></h1></div>
                     </div>
                 </li>
               -->
              </ul>

              <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
              <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

          </div>

          <h1>Best Scores</h1>

          <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

              <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid-small contenedor-puntaje">


              </ul>

              <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
              <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

          </div>

          <h1>Up Next</h1>

          <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

              <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid-small contenedor-proximamente">


              </ul>

              <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
              <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

          </div>


        </div>

<!-- footer -->
<%- include('partials/footer') %>

<script rel="stylesheet" src="/javascripts/home.js"></script>
  </body>
</html>
