<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Terminos y Condiciones</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
  </head>



  <body>
    <div id="terminos">

    </div>
  </body>
</html>